@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,700&display=swap&subset=cyrillic-ext');
* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.content {
    padding-top: 81px;
}

.hide {
    display: none;
}

.show {
    display: block;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

section {
    padding-top: 81px;
    padding-bottom: 80px;
}

body {
    position: relative;
}

@import 'base/variables';
@import 'base/main';
@import 'base/about';
@import 'base/title';
@import 'base/footer';
<<<<<<< HEAD
@import 'base/button';
@import 'base/portfolio';
@import 'base/awards';
@import 'base/skills';
@import 'base/education';
=======
@import 'base/button';
>>>>>>> efc8d625f06f2dcf6549396e1ebdf053c8250ea3
