.about {
    &__wrapper {
        padding-top: 81px;
        background: url("../img/main.jpg") no-repeat center (center/cover);
        width: 100%;
        min-height: calc(100vh - 161px);
    }
    &__title {
        background: none;
        color: $mainColor;
        font-weight: 700;
        font-size: 50px;
    }
    &__line {
        margin-top: 20px;
        width: 200px;
        height: 2px;
        background-color: $mainColor;
        border: none;
    }
    &__descr {
        margin-top: 25px;
        font-size: 32px;
        font-weight: 500;
        line-height: 23px;
        position: relative;
        line-height: 40px;
    }
    &__btn {
        display: inline;
        margin: 30px 0 0 auto;
        border: none;
        margin-right: 10px;
        a {
            color: $clr;
            text-decoration: none;
            font-size: 22px;
            background-color: $mainColor;
            font-weight: 700;
            padding: 4px;
            border-radius: 4px;
            transition: all 0.3s;
            &:hover {
                color: $mainColor;
                background-color: $clr;
            }
        }
    }
    &__contact {
        color: $mainColor;
        cursor: pointer;
        font-size: 22px;
        font-weight: 700;
        padding: 4px;
        border: 1px solid $bgColor;
        border-radius: 4px;
        transition: all 0.3s;
        &:hover {
            color: $clr;
            background-color: $mainColor;
        }
    }
    &__subtitle {
        width: 100%;
    }
    &__myself {
        color: $textColor;
        font-size: 18px;
        font-weight: 500;
        margin: 40px 0 80px 0;
        display: grid;
        grid-template-columns: 400px auto;
        grid-template-rows: auto;
        column-gap: 60px;
    }
    &__photo {
        width: 100%;
    }
    &__next {
        margin-top: 20px;
        display: block;
    }
}