.btn {
    border: none;
    background-color: $mainColor;
    cursor: pointer;
    color: $clr;
    padding: 10px;
    filter: drop-shadow(2px 2px 6px black);
    &:hover{
        filter: drop-shadow(2px 2px 8px black);
        transform: scale(1.03);
    }
}