.commercial {
    position: fixed;
    bottom: 60px;
    right: 0;
    width: 400px;
    height: 100px;
    background-color: $clr;
    display: flex;
    &__img {
        img {
            height: 100px;
        }
    }
    &__title {
        font-size: 700;
    }
    &__wrapper {
        padding: 15px;
    }
    &__text {
        span {
            cursor: pointer;
            color: $mainColor;
        }
    }
}