.education {
    width: 100%;
    height: 100%;
    background: url('../img/education.jpg') no-repeat center (center/cover);
    &__wrapper {
        position: relative;
        margin-top: 30px;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }
    &__quote {
        margin-top: 30px;
        background-color: rgba(255, 255, 255, 0.7);
        span {
            padding-right: 0;
        }
    }
    &__subtitle {
        position: relative;
        list-style-type: none;
        margin-top: 20px;
        background-color: rgba(255, 255, 255, 0.7);
        width: 500px;
        color: $textColor;
        border: 1px solid $tabColor;
        border-top-right-radius: 15px;
        border-bottom-right-radius: 15px;
        padding: 15px 0;
        &:before {
            content: "";
            position: absolute;
            top: 5px;
            left: -1px;
            width: 2px;
            height: calc(100% - 4px);
            background-color: $mainColor;
        }
    }
    &__place {
        font-size: 20px;
        font-weight: 700;
        margin-bottom: 12px;
        padding-left: 30px;
        &:before {
            position: absolute;
            left: -1px;
            top: -1px;
            content: "";
            width: 20px;
            height: 10px;
            background-color: $mainColor;
        }
    }
    &__descr {
        padding-left: 25px;
        margin-top: 8px;
        font-size: 16px;
        font-weight: 500;
    }
    &__btn {
        margin-top: 30px;
    }
}